USE [master]
GO
/****** Object:  Database [DA_TraiCay]    Script Date: 5/9/2023 8:50:30 AM ******/
CREATE DATABASE [DA_TraiCay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DA_TraiCay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DA_TraiCay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DA_TraiCay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DA_TraiCay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DA_TraiCay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DA_TraiCay]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configs]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Phone_1] [nvarchar](max) NULL,
	[Gmail] [nvarchar](max) NOT NULL,
	[APITalkTo] [nvarchar](max) NULL,
	[MessFacebook] [nvarchar](max) NULL,
	[Zalo] [nvarchar](max) NULL,
	[Analytic] [nvarchar](max) NULL,
	[WebMasterTool] [nvarchar](max) NULL,
	[Google_Maps] [nvarchar](max) NULL,
	[LogoIconWeb] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[LogoWeb] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Configs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Flag] [int] NOT NULL,
	[Reply] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Type] [nvarchar](max) NULL,
	[Created_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Event] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupUser]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GroupUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[TableId] [int] NULL,
 CONSTRAINT [PK_dbo.Link] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[TableID] [int] NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[Positon] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ExportDate] [datetime] NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[DeliveryName] [nvarchar](max) NULL,
	[DeliveryPhone] [nvarchar](max) NULL,
	[DeliveryEmail] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[IsPayment] [bit] NOT NULL,
	[Trash] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[CateID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[ImageList] [nvarchar](max) NULL,
	[NewPromotion] [nvarchar](max) NULL,
	[Installment] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Specification] [nvarchar](max) NOT NULL,
	[OwnerId] [int] NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProPrice] [float] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOwner]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Longiude] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductOwner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Orders] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Order] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Access] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[PayTotal] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGoogle]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGoogle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[EmailID] [nvarchar](max) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
	[ResetPasswordCode] [nvarchar](max) NULL,
	[GroupId] [int] NOT NULL,
	[PayTotal] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserGoogle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 5/9/2023 8:50:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discount] [int] NULL,
	[Status] [int] NULL,
	[Quantity] [int] NULL,
	[DateExpire] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Voucher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Trái cây nhập khẩu', N'trai-cay-nhap-khau', 0, 0, N'Trái cây nhập khẩu', N'Trái cây nhập khẩu', 1, CAST(N'2022-12-22T14:10:36.520' AS DateTime), 7, CAST(N'2022-12-22T14:10:46.057' AS DateTime), 7)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Giỏ quà trái cây', N'gio-qua-trai-cay', 0, 0, N'Giỏ trái cây', N'Giỏ trái cây', 1, CAST(N'2022-12-23T14:46:42.000' AS DateTime), 7, CAST(N'2022-12-23T20:58:44.700' AS DateTime), 7)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Giỏ trái cây', N'gio-trai-cay', 2, 0, N'Giỏ trái cây', N'Giỏ trái cây', 1, CAST(N'2022-12-23T20:58:55.663' AS DateTime), 7, CAST(N'2022-12-23T20:58:55.663' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Configs] ON 

SET IDENTITY_INSERT [dbo].[Configs] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ID], [Fullname], [Email], [Phone], [Title], [Detail], [Flag], [Reply], [Status], [Created_at], [Updated_at], [Updated_by]) VALUES (1, N'Lê Gia Lai', N'lelaii200398@gmail.com', 364244261, N'1', N'1', 1, N'1231', 0, CAST(N'2022-12-22T15:11:26.000' AS DateTime), CAST(N'2023-03-01T10:37:29.633' AS DateTime), 7)
INSERT [dbo].[Contact] ([ID], [Fullname], [Email], [Phone], [Title], [Detail], [Flag], [Reply], [Status], [Created_at], [Updated_at], [Updated_by]) VALUES (2, N'Lai', N'legialai98.hitu@gmail.com', 364242261, N'hi', N'hi', 1, N'OKE', 0, CAST(N'2022-12-24T15:45:18.000' AS DateTime), CAST(N'2023-03-01T10:37:26.303' AS DateTime), 7)
INSERT [dbo].[Contact] ([ID], [Fullname], [Email], [Phone], [Title], [Detail], [Flag], [Reply], [Status], [Created_at], [Updated_at], [Updated_by]) VALUES (3, N'Lê Gia Lai', N'lelaii200398@gmail.com', 364244261, N'1', N'1', 1, NULL, 0, CAST(N'2022-12-25T02:09:28.000' AS DateTime), CAST(N'2023-03-01T11:14:14.717' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupUser] ON 

INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (1, N'Khách hàng', 10000, N'10000', CAST(N'2022-12-23T22:26:55.677' AS DateTime), 7, CAST(N'2022-12-23T22:26:55.677' AS DateTime), 7, 1)
SET IDENTITY_INSERT [dbo].[GroupUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Link] ON 

INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (1, N'Trái cây nhập khẩu', N'trai-cay-nhap-khau', N'category', 1)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (2, N'Giỏ quà trái cây', N'gio-qua-trai-cay', N'category', 2)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (3, N'VINFRUITS – QUÀ TẶNG TỪ SỰ TỬ TẾ', N'vinfruits-–-qua-tang-tu-su-tu-te', N'event', 1)
SET IDENTITY_INSERT [dbo].[Link] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'CHI NHÁNH', N'page', N'list-shop', NULL, 0, 1, N'header', 1, CAST(N'2022-12-22T15:22:23.000' AS DateTime), 0, CAST(N'2022-12-22T15:28:25.870' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [IsPayment], [Trash], [Updated_at], [Updated_by]) VALUES (69, N'20221227091223', 4, CAST(N'2022-12-27T09:50:23.243' AS DateTime), CAST(N'2022-12-27T16:10:51.417' AS DateTime), N'Quận 9 ', N'Lê Gia Lai', N'0123', N'legialai98.hitu@gmail.com', 3, 1, NULL, CAST(N'2022-12-27T16:10:51.417' AS DateTime), 7)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [IsPayment], [Trash], [Updated_at], [Updated_by]) VALUES (70, N'20221227041208', 4, CAST(N'2022-12-27T16:14:08.467' AS DateTime), CAST(N'2022-12-28T10:08:33.513' AS DateTime), N'Quận 9 ', N'Lê Gia Lai', N'0364242261', N'legialai98.hitu@gmail.com', 2, 1, NULL, CAST(N'2022-12-28T10:08:33.513' AS DateTime), 7)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [IsPayment], [Trash], [Updated_at], [Updated_by]) VALUES (71, N'20221227071217', 4, CAST(N'2022-12-27T19:11:17.457' AS DateTime), CAST(N'2022-12-27T19:12:48.690' AS DateTime), N'Quận 9 ', N'Lê Gia Lai', N'0123', N'legialai98.hitu@gmail.com', 3, 1, NULL, CAST(N'2022-12-27T19:12:48.690' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (29, 69, 13, 399000, 1, 399000)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (30, 70, 13, 399000, 1, 359100)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (31, 71, 15, 120000, 1, 120000)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOwner] ON 

INSERT [dbo].[ProductOwner] ([Id], [Name], [Longiude], [Latitude], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (1, N'Chi nhánh Gò Vấp', N'1', N'1', CAST(N'2023-03-01T10:31:26.507' AS DateTime), 7, CAST(N'2023-03-01T10:31:26.507' AS DateTime), 7, 0)
INSERT [dbo].[ProductOwner] ([Id], [Name], [Longiude], [Latitude], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (2, N'Chi nhánh Hồ Chí Minh', N'1', N'1', CAST(N'2022-12-23T14:46:17.000' AS DateTime), 7, CAST(N'2023-03-01T10:31:23.257' AS DateTime), 7, 1)
INSERT [dbo].[ProductOwner] ([Id], [Name], [Longiude], [Latitude], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (3, N'Chi nhánh Thái Nguyên', N'1', N'1', CAST(N'2023-03-01T10:31:04.760' AS DateTime), 7, CAST(N'2023-03-01T10:31:04.760' AS DateTime), 7, 1)
SET IDENTITY_INSERT [dbo].[ProductOwner] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'1', N'1', N'1', N'1.png', 0, 1, CAST(N'2022-12-23T14:37:27.747' AS DateTime), 7, CAST(N'2022-12-23T20:56:28.167' AS DateTime), 1)
INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'2', N'2', N'1', N'2.png', 0, 1, CAST(N'2022-12-23T14:45:35.020' AS DateTime), 7, CAST(N'2022-12-23T22:22:28.730' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([ID], [Name], [Slug], [ParentID], [Order], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Mùa vụ hoa quả', N'mua-vu-hoa-qua', 0, 0, N'Mùa vụ hoa quả', N'Mùa vụ hoa quả', 1, CAST(N'2022-12-23T22:24:57.080' AS DateTime), 7, CAST(N'2022-12-23T22:24:57.080' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [GroupId], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [PayTotal]) VALUES (7, N'Lê Gia Lai', N'admin', N'xMpCOKC5I4INzFCab3WEmw==', N'admin@gmail.com', 1, 394073759, N'Quận 9', N'nguyen-van-a.png', 1, 0, 0, CAST(N'2023-04-05T08:28:02.120' AS DateTime), 1, CAST(N'2023-04-05T08:28:02.120' AS DateTime), 7, 0)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [GroupId], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [PayTotal]) VALUES (8, N'Lê Gia Lai', N'ketoan', N'xMpCOKC5I4INzFCab3WEmw==', N'user@gmail.com', 1, 364242261, N'Quận 9', N'nguyen-van-a.png', 2, 1, 0, CAST(N'2023-04-05T08:28:53.027' AS DateTime), 1, CAST(N'2023-04-05T08:28:53.027' AS DateTime), 7, 11298000)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [GroupId], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [PayTotal]) VALUES (9, N'Nguyễn Văn A', N'ketoanvien', N'xMpCOKC5I4INzFCab3WEmw==', N'legialai97.hitu@gmail.com', 1, 123, N'Quận 9', N'nguyen-van-a.png', 2, 7, 0, CAST(N'2023-03-01T10:44:12.687' AS DateTime), 7, CAST(N'2023-03-01T10:44:12.687' AS DateTime), 7, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserGoogle] ON 

INSERT [dbo].[UserGoogle] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [EmailID], [IsEmailVerified], [ActivationCode], [ResetPasswordCode], [GroupId], [PayTotal]) VALUES (4, N'Lê Gia Lai', N'test', N'xMpCOKC5I4INzFCab3WEmw==', N'legialai98.hitu@gmail.com', 1, 123, N'Quận 9 ', N'', 0, 0, CAST(N'2023-04-05T08:28:42.693' AS DateTime), 1, CAST(N'2023-04-05T08:28:42.693' AS DateTime), 7, NULL, 0, N'00000000-0000-0000-0000-000000000000', NULL, 1, 1716000)
INSERT [dbo].[UserGoogle] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [EmailID], [IsEmailVerified], [ActivationCode], [ResetPasswordCode], [GroupId], [PayTotal]) VALUES (6, N'Testemail', N'Testemail', N'xMpCOKC5I4INzFCab3WEmw==', N'legialai98.hitu@gmail.com', 1, 123, N'Q9', N'', 0, 0, CAST(N'2023-04-05T08:28:44.810' AS DateTime), 1, CAST(N'2023-04-05T08:28:44.810' AS DateTime), 7, N'Testemail@gmail.com', 0, N'00000000-0000-0000-0000-000000000000', NULL, 7, 0)
SET IDENTITY_INSERT [dbo].[UserGoogle] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([ID], [Name], [Discount], [Status], [Quantity], [DateExpire]) VALUES (1, N'voucher', 10, 1, 36, N'2023-12-31')
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
ALTER TABLE [dbo].[UserGoogle] ADD  DEFAULT ((0)) FOR [GroupId]
GO
ALTER TABLE [dbo].[UserGoogle] ADD  DEFAULT ((0)) FOR [PayTotal]
GO
USE [master]
GO
